* {
  font-size: 1.3rem;
}

main {
  padding: .5rem 1rem;
}

a {
  color: #00acee !important;
}

.btn-twitter {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  border: 3px solid #00acee;
}

#userpic-nav {
  border-radius: 50px;
  border: 1px solid black;
  width: 2.5rem;
  height: 2.5rem;
}
