textarea:focus, textarea:active {
  border: none !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  border: none !important;
}

.tweet-submit-form {
  border: 1px solid lightgray;
}

.twitter-btn {
  background-color: #00acee !important;
  border-radius: 50px !important;
  color: white !important;
  border: 1px solid black !important;
}

.twitter-btn:focus, twitter-btn:active {
  border: none !important;
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.new-tweet-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: .5rem 1rem;
}

.tweet-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tweets {
  width: 60%;
}

.tweet {
  border: 1px solid lightgray;
  padding: .5rem 1rem;
}

.fa-heart {
  color: red;
}

.tweet-user-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  border: 1px solid black;
}

.bio {
  color: black !important;
}

/* Bootstrap media queries */
@media (min-width: 576px) {
  .tweets {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .tweets {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .tweets {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .tweets {
    width: 80%;
  }
}
