<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Twitter</a>
        {% if user.is_authenticated %}
          {{ user.username }}
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Register</a>
        {% endif %}
      </nav>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
