{% extends 'base.html' %}

{% block title %}Tweet | {{ tweet.pk }}{% endblock %}
{% load humanize %}
{% load staticfiles %}

{% load tweet_extras %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/tweet.css' %}">
  <link rel="stylesheet" href="{% static 'css/tweetoverview.css' %}">
{% endblock %}

{% block content %}

<div class="tweet-box">
  <div class="tweets">
    <div class="tweet">
        <div class="tweet-header">
          <img src="{{ tweet.user.profilepicture.url }}" class="tweet-user-picture" alt="{{ tweet.user.username }}'s profile picture">
          <span><a href="{% url 'useroverview' tweet.user.username %}">@{{ tweet.user.username }}</a></span>
          <span>{{ tweet.created_date|naturaltime }}</span>
        </div>
        <a href="{% url 'tweet' tweet.user.username tweet.pk %}">
          <div class="tweet-content">
            {{ tweet.text }}
          </div>
        </a>
        {% if request.user.is_anonymous %}
          <a href="{% url 'login' %}"><i class="far fa-heart" id="like{{ tweet.pk }}" data-tweetid="{{ tweet.pk }}"></i></a>
        {% else %}
          {% if tweet|check_if_liked:request.user %}
            <i class="fas fa-heart" id="like{{ tweet.pk }}" data-tweetid="{{ tweet.pk }}"></i>
          {% else %}
            <i class="far fa-heart" id="like{{ tweet.pk }}" data-tweetid="{{ tweet.pk }}"></i>
          {% endif %}
        {% endif %}
        <span id="likecount{{ tweet.pk }}">{{ tweet.liked_tweet.count }}</span>
    </div>
    <div class="tweet-submit-form">
      <form id="comment-form" method="post" action="{% url 'comment' %}">
        {% csrf_token %}
        <div class="form-group">
          <textarea maxlength="200" rows="4" type="text" class="form-control" id="text" name="text" placeholder="Write a comment!"></textarea>
        </div>
        <div class="new-tweet-bottom">
          <button type="submit" class="btn twitter-btn" id="new-tweet-btn">Comment</button>
        </div>
      </form>
    </div>

    <h4>Comments</h4>

    <div id="comments">
    {% for comment in tweet.comments.all %}
      {% if comment %}
        <div class="comment tweet">
          <div class="comment-header tweet-header">
            <img src="{{ comment.user.profilepicture.url }}" class="tweet-user-picture" alt="{{ comment.user.username }}'s profile picture">
            <span><a href="{% url 'useroverview' tweet.user.username %}">@{{ comment.user.username }}</a></span>
            <span>{{ comment.created_date|naturaltime }}</span>
          </div>
          {{ comment.text }}
        </div>
      {% else %}
        <h3>No comments at this time</h3>
      {% endif %}
    {% endfor %}
    </div>

  </div>
</div>

<script type="text/javascript">
  console.log('script')
  var twitterid = {{ tweet.pk }}
  $('#comment-form').on('submit', function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      dataType: "json",
      url: '{% url "comment" %}',
      data: {
        text: $('#text').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post',
        tweetid: twitterid,
      },

      success:function(json) {
        console.log('success')
        document.getElementById("comment-form").reset();
        $("#comments").prepend(
        '<div class="comment tweet">' +
          '<div class="comment-header tweet-header">' +
            '<span><a href="' + json.userurl + '">@' + json.username + '</a></span> ' +
            '<span>' + json.createddate + '</span>' +
          '</div>' +
          json.text +
        '</div>'
        )
      },

      error:function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText)
      }
    });
  });
</script>


<script type="text/javascript">
  $('.fa-heart').click(function() {
    var id = $(this).attr("data-tweetid");
    $.ajax({
      type: "GET",
      url: "{% url 'liketweet' %}",
      data: {
        tweet_id: id
      },

      success: function(json) {
        $('#like' + id).removeClass('far');
        $('#like' + id).addClass('fas');
        $('#likecount' + id).text(json.likecount);
        if(json.delete == true) {
          $('.fa-heart').removeClass('fas').addClass('far');
        } else {
          $('.fa-heart').removeClass('far').addClass('fas');
        }
      }
    });
  });
</script>
{% endblock %}
